{% extends "base.html" %}
{% block title %}Project Overview{% endblock %}
{% block content %}
<body>
    <div class="main-container">
         <!-- Hero Section -->
         <section class="hero">
            <h1>Projects</h1>
            <p>Power statement</p>
        </section>

        <!-- Project Sections -->
        <section class="project-section">
            <div class="project-grid">
                <!-- Project 1 -->
                <div class="project-card">
                    <img src="https://placehold.co/600x431" alt="Project Image" class="project-image">
                    <div class="project-content">
                        <div class="project-header">
                            <div class="caption">Caption</div>
                            <h2>Title</h2>
                        </div>
                        <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed. Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar. Fermentum scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus iaculis.</p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>

                <!-- Project 2 -->
                <div class="project-card">
                    <img src="https://placehold.co/600x431" alt="Project Image" class="project-image">
                    <div class="project-content">
                        <div class="project-header">
                            <div class="caption">Caption</div>
                            <h2>Title</h2>
                        </div>
                        <p>Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed. Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar. Fermentum scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus iaculis.</p>
                        <button class="read-more-btn">Read More</button>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
{% endblock %}